body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  width: 175px;
  height: 47px;
  background: #D17C0E;
  color: #fff;
  position: relative;
  padding: 10px;
}

.container {
  margin-top: 20px;
}

/* CardStyles.css */
.card-container {
  width: 8px;
  margin-top: 40px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtitle {
  color: #6c757d;
  font-size: 1rem;
}

.card-text {
  color: #212529;
  font-size: 1rem;
}

.card-link {
  text-decoration: none;
  color: #f4b944;
  margin-right: 8px;
}

.card-link:hover {
  text-decoration: underline;
}
.btn-danger {
  margin-top: 10px;
}
